form {
  border-radius: 2px;
  color: #000;
  background-color: #fff;
  padding: 30px;
  opacity: .7;
}

#signup-form {
  max-width: 450px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  margin-top: 8em;
  text-align: center;
  cursor: default;
}
