body {
  background-image: url("background.jpeg");
  background-size: cover;
}

#login-form {
  max-width: 250px;
  margin: 0 auto;
}

form {
  border-radius: 5px;
  margin-top: 10em;
  background-color: rgba(66, 66, 66, .8);
  padding: 30px;
}

#login-form a {
  text-decoration: none;
}
