body {
  background-image: url("images/sunset.jpeg");
  background-size: cover;
}


#logo {
  max-width: 500px;
  position: absolute;
  margin-top: -13em;
}

#login-form {
  max-width: 250px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 14em;
}

form {
  border-radius: 2px;
  color: #000;
  background-color: #fff;
  padding: 30px;
  opacity: .5;
}

#member {
  font-size: .8em;
  padding-top: 30px;
  color: #000;
}

.input-form {
  border-bottom: 2px solid #000;
  border-left: none;
  border-right: none;
  border-top: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  background-color: #666;
  transition: 300ms;
}

.input-form:hover {
  background-color: #444;
}

.input-form:focus {
  outline: none;
}

#login-button {
  border: none;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 16px;
  transition: 300ms;
  font-family: "Roboto", sans-serif;
  border: 1px solid #999;
}

#login-button:hover {
  background-color: #999;
  color: #fff;
  cursor: pointer;
}

#login-button:focus {
  outline: none;
}

#login-form a {
  text-decoration: none;
  transition: 300ms;
}

#login-form a:hover {
  font-size: 15px;
}

/***************************
changing background images
***************************/
/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
40% { left: -100%; }
60% { left: -100%; }
80% { left: -200%; }
100% { left: -200%; }
}

body { margin: 0; z-index: -1; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
position: absolute;
width: 500%;
margin: 0;
left: 0;
text-align: left;
animation: 15s slidy infinite;
}*/
